-- ===========================================================================
-- IESR data migration — paste into Neon SQL Editor and Run.
-- school_id = de300000-0000-4000-8000-000000000001
-- Idempotent: safe to re-run.
-- ===========================================================================

-- 1) CLASSES

-- 2) STUDENTS (399 rows, single INSERT)

-- 3) TIMETABLE (lowercase 3-letter days; rebuilt from scratch)
DELETE FROM timetables WHERE school_id = 'de300000-0000-4000-8000-000000000001';

-- 4) TEACHER CLASS ASSIGNMENTS (class_ids per teacher)
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R', 'DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'ALOO';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R', 'DEEMAY2024B', 'DEEMAY2025R', 'DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'DOROTHY';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R', 'DEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'KIRIGWI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R', 'CEESEP2024B', 'CDAC/L5/EE/SEP2025')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'SALOME';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R', 'CEESEP2024A', 'CEESEP2024B', 'DEEMAY2024A', 'DEEMAY2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'GITHOGORI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'LILIAN';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'KWASA';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R', 'DEEMAY2024B', 'CDAC/L6/EE/SEP2025')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'WAFULA';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEEMAY2025R', 'CEESEP2024A', 'CEESEP2024B', 'DEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'SHARON';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A', 'CEESEP2024B', 'DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'OMBUI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'GITHAE';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A', 'CEESEP2024B', 'CDAC/L6/EE/SEP2025')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'KOBIA';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A', 'DEEMAY2024B', 'DEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'DON';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A', 'DEEMAY2024A')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'GLADYS';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A', 'DEEMAY2024A', 'DEEMAY2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'DORIS';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A', 'DEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'JENNIFER';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A', 'CEESEP2024B', 'DEEMAY2024A', 'DEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'MUTENDE';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024A')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'WANAGAI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'MOKI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'RUTH';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'WANGAI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CEESEP2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'PATRICK';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CDAC/L5/EE/SEP2025')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'MUGAMBI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CDAC/L5/EE/SEP2025')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'DAVID';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CDAC/L5/EE/SEP2025', 'DEEMAY2025R', 'DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'NAOMI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2024A', 'DEEMAY2024B', 'DEEMAY2025R', 'DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'OMONDI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2024A', 'DEEMAY2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'ROSE';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2024A', 'DEEMAY2025R', 'DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'OUNGO';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2024A')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'MUTUKU';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2024A', 'DEEMAY2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'CYPRIAN';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2024A', 'DEEMAY2024B', 'DEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'NGANA';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2024A', 'DEEMAY2024B')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'MBURU';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2025R', 'DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'ONAYA';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEEMAY2025R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'OPIYO';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('CDAC/L6/EE/SEP2025')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'MURIMI';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'MUSASIA';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'WANYAMA';
UPDATE teachers SET class_ids = ARRAY(SELECT id FROM classes WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND code IN ('DEESEP2023R')) WHERE school_id = 'de300000-0000-4000-8000-000000000001' AND name = 'KIMANI';

